.auth-block {
  width: 400px;
  height: 300px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 8px;
}

.card-title {
  text-align: center;
}

.card-title button {
  margin: 0 auto;
}

.card-footer {
  text-align: center;
}

.card-footer button {
  margin: 0 auto;
}
