.navbar {
  height: 70px;
}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  font-size: 16px;
}

.container-fluid {
  margin: 0;
  padding: 0 15px;
  width: 100%;
}

.ms-auto {
  margin-left: auto !important;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.content-wrapper > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}